<div class="container">
  <div class="mt-5">
    <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
    <h1>Teams Manager</h1>
    <ul>
      <% @sports.each do |sport| %>
        <% puts sport %>
        <li><%= link_to sport.name, sport_path(sport) %></li>
      <% end %>
    </ul>
    <% if (user_signed_in? && current_user.admin?) %>
      <%= link_to "Add Sport", new_sport_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-black">
    Hello
  </p>
</div>
