<div class="container">
  <h1>Teams Manager</h1>
  <ul>
    <% @sports.each do |sport| %>
      <li><%= link_to sport.name, sport_path(sport) %></li>
    <% end %>
  </ul>
  <%= link_to "Add Sport", new_sport_path, class: "btn btn-primary" %>
</div>
